/build/
/.gradle
/.settings
/.project
/.classpath
/classes
/osp-financial-freight-service/.project
/osp-financial-freight-service/.settings
/osp-financial-freight-service/bin
/osp-financial-freight-service/.classpath
/osp-financial-freight-service-api/.project
/osp-financial-freight-service-api/.settings
/osp-financial-freight-service-api/bin
/osp-financial-freight-service-api/build
/osp-financial-freight-service-api/.classpath
/.idea
/osp-financial-freight-service/out
/osp-financial-freight-service-api/out
/osp-financial-freight-service/null
/null
/osp-financial-freight-service/testdata.json
/testdata.json
.vscode
*.iml
/gitflow
/target
/gradle/wrapper/gradle-wrapper.jar
